{@head.html}

<body  class="presets-preset1 main-body-light main-bg-red font-family-ximenia font-size-is-default logo-type-custom menu-type-fusionmenu layout-mode-responsive typography-style-light col12 option-com-content menu-home ">

{@navigation.html}

  <script>
    var menuItem = 'item135';
    var subMenuItem = 'item137';
  </script>


<div id="rt-transition" class="rt-hidden">
                                                      
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12">
        <div class="rt-block component-block">
          <div class="component-content">
            <div class="item-page" itemscope itemtype="https://schema.org/Article"><meta itemprop="inLanguage" content="ru-RU" />
              <div class="page-header"><h2 itemprop="name">Что же такое 3D КТ?  </h2></div>
                <div itemprop="articleBody">
    
<h4 style="text-align: center;">Итак, что же такое конусно-лучевая 3D компьютерная томография?</h4>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="images/vracham/3dtomo.png" alt="" width="309" height="264" /></p>
<p>Простыми словами, конусно-лучевая компьютерная томография это более компактная, быстрая и безопасная версия общемедицинского спирального КТ. Только благодаря использованию рентгеновского луча конусной формы, размера аппарата и параметров излучения, <em class="highlight red">полученная во время обследования доза значительно меньше (более чем в 10 раз).</em> При этом <em class="highlight red">качество исследования получается в несколько раз выше</em>(воксель 0,1-0,2 мм на конусно-лучевом, а на спиральном КТ 0,5-1,0 мм).</p>
<ul class="circle-checkmark">
<li>самая совершенная и точная диагностика: объемные снимки позволяют врачу увеличить, повернуть, исследовать со всех сторон интересующие его области, что невозможно сделать в режиме 2D диагностики;</li>
<li>удобство и безопасность: система позволяет за одно сканирование длительностью несколько секунд получить объемную 3D картину всей челюстно-лицевой области;</li>
<li>низкая доза облучения: благодаря использованию новейших технологий, лучевая нагрузка на организм на порядок меньше, чем при использовании общемедицинских спиральных компьютерных томографов;</li>
<li>максимум информации: уникальные функциональные возможности нашего томографа позволяют исследовать диагностический снимок в любых проекциях и сечениях, выявлять анатомические особенности всего челюстно-лицевого аппарата пациента.</li>
<li>визуализация: виртуальная трехмерная модель сканированной области записывается на CD, который можно просматривать на персональном компьютере лечащего врача или в любой клинике без применения дополнительных средств. Кроме этого, пациент может разместить эту модель на сервере нашей компании, что даст ему возможность привлечь к анализу этой информации любого врача в любой точке мира;</li>
<li>доверие: наглядность результатов, получаемых в результате обследования на трехмерном компьютерном томографе – это настоящий прорыв во взаимоотношениях между пациентом и врачом, способствующий повышению уровня доверия между ними;</li>
<li>широкий спектр назначений: наше оборудование позволяет получить всю информацию о челюстно-лицевом аппарате человека для всех возможных применений – от лечения зубов, протезирования и имплантации, пластической хирургии, до лечения отоларингологических заболеваний.</li>
</ul> </div>

            
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    <div class="clear"></div>
  </div>
</div>
                      
</div>

{@footer.html}