{@head.html}

{@navigation.html}

  <div class="container" style="padding-top:50px;">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Контент сайта
            </h1>
        </div>
    </div>

      <div class="row filters-panel" >
        <div class="span12 col-md-12">
          <div class="filter-panel">
            <div class="pull-left filter-block col-md-6">
              <label>Страницы</label>
              <select class="input-large form-control data-filter" title="Страницы" name="page"></select>
            </div>
            <div class="pull-right filter-block col-md-2">
              <label></label>
              <a class="action-save btn btn-primary pull-right" title="Сохранить изменения">Сохранить изменения</a>
            </div>
          </div>
        </div>
      </div>


    <div class="row">
      <div class="span12 col-md-12">
        <textarea name="page_content" class="span5 data-field" placeholder="description" data-click-on-enter=".action-save"></textarea>
      </div>
    </div>

  </div>

{@footer.html}