        <div class="row">
            <div class="col-lg-12">
                <br/>
            </div>
        </div>


  <!--[if lt IE 8]>
    <script src="{br}3rdparty/json2/json2.js"></script>
  <![endif]-->


  <script src="{br}3rdparty/jquery/jquery-1.8.2.min.js"></script>
  <script src="{br}3rdparty/bootstrap3/js/bootstrap.min.js"></script>
  <script src="{br}3rdparty/handlebars/js/handlebars.min.js"></script>
  <script src="{br}3rdparty/gritter/js/jquery.gritter.min.js"></script>
  <script src="{br}js/bright.js"></script>

  <!-- Custom -->
  <script src="{/}js/custom.js"></script>

  <!-- Script to Activate the Carousel -->
  <script>
  $('.carousel').carousel({
      interval: 500000 //changes the speed
  });
  </script>

  <script src="{/}js/menu.js"></script>
  <!-- <script src="{/}js/popup.js"></script> -->

{:/kabinet}
  <script src="{br}js/br.dataGrid.js"></script>
  <script src="{br}js/br.dataEditor.js"></script>
  <script src="{br}js/br.dataBrowser.js"></script>
  <script src="{br}js/br.dataCombo.js"></script>
  <script src="{/}js/kabinet.js"></script>
{:}

{:/users}
  <script src="{br}js/br.dataGrid.js"></script>
  <script src="{br}js/br.dataEditor.js"></script>
  <script src="{br}js/br.dataBrowser.js"></script>
  <script src="{br}js/br.dataCombo.js"></script>
  <script src="{/}js/users.js"></script>
{:}


</body>
</html>