{@head.html}

<body  class="presets-preset1 main-body-light main-bg-red font-family-ximenia font-size-is-default logo-type-custom menu-type-fusionmenu layout-mode-responsive typography-style-light col12 option-com-content menu-home ">

{@navigation.html}

  <script>
    var menuItem = 'item101';
  </script>

<!-- BEGIN sideBar -->

    <div id="rt-transition" class="rt-hidden">
      <div id="rt-showcase">
        <div class="rt-container">
          <div class="rt-grid-12 rt-alpha rt-omega">
            <div class="rt-block ">
              <div class="module-surround">
                <div class="module-content">
                   <div class="sprocket-features layout-showcase arrows-active  pagination-active" data-showcase="89">
                     <ul class="sprocket-features-list">

                        <li class="sprocket-features-index-1 active" data-showcase-pane>
                          <div class="sprocket-features-container">
                            <div class="sprocket-features-img-container"><img src="images/missia.png" alt="" /></div>
                              <div class="sprocket-features-content">
                                <h2 class="sprocket-features-title">Наша миссия</h2>
                                  <div class="sprocket-features-desc">
                                    <div class="sprocket-features-desc-top"></div>
                                      <div class="sprocket-features-desc-surround">
                                        <div class="sprocket-features-desc-surround2">
                                          <div class="sprocket-features-desc-surround3">
                                            <span>
                                              Мы оказываем услугу по достоверному обследованию ваших пациентов на самом современном конусно-лучевом компьютерном томографе.   Наша деятельность направлена на совершенствование вашего уровня диагностики и максимальную популяризацию метода компьютерной 3D томографии.
                                            </span>
                                          </div>
                                        </div>  
                                      </div>
                                    <div class="sprocket-features-desc-bottom"></div>
                                  </div>
                                </div>
                              <div class="clear"></div>
                          </div>
                        </li>

                        <li class="sprocket-features-index-2" data-showcase-pane>
                          <div class="sprocket-features-container">
                            <div class="sprocket-features-img-container">
                              <a href="index.php/kontakty.html"><img src="images/maps.png" alt="" /></a>
                            </div>
                            <div class="sprocket-features-content">
                              <h2 class="sprocket-features-title"><a href="index.php/kontakty.html">Адреса центров</a></h2>
                                <div class="sprocket-features-desc">
                                  <div class="sprocket-features-desc-top"></div>
                                    <div class="sprocket-features-desc-surround">
                                      <div class="sprocket-features-desc-surround2">
                                        <div class="sprocket-features-desc-surround3">
                                          <span>
                                            Узнайте в каких городах Украины работают наши центры диагностики.               </span>
                                        </div>
                                      </div>  
                                    </div>
                                  <div class="sprocket-features-desc-bottom"></div>
                                </div>
                              </div>
                            <div class="clear"></div>
                            <a href="index.php/kontakty.html" class="readon"><span class="symbol">+</span><span>Read More</span></a>
                          </div>
                        </li>
                     </ul>

                     <div class="sprocket-features-arrows">
                       <span class="arrow next" data-showcase-next><span></span></span>
                       <span class="arrow prev" data-showcase-previous><span></span></span>
                      </div>
                      <div class="sprocket-features-pagination">
                        <ul>
                          <li class="active" data-showcase-pagination="1"><span>1</span></li>
                          <li data-showcase-pagination="2"><span>2</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          <div class="clear"></div>
        </div>
      </div>
                      

<!-- END sideBar -->


  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12">
        <div class="rt-block component-block">
          <div class="component-content">
            <div class="item-page" itemscope itemtype="https://schema.org/Article"><meta itemprop="inLanguage" content="ru-RU" />
              <div itemprop="articleBody">
                <ul>
                <li>Наша цель - популяризация метода компьютерной 3D томографии и совершенствование вашего уровня диагностики.</li>
                <li>3D визуализация позволит вам мыслить объемно в прямом значении этого слова, а не оценивать состояние трехмерных объектов (зубы, челюсти, суставы, пазухи, патологические очаги, …) по традиционному плоскому рентгенснимку.</li>
                <li>Обследование осуществляется быстро и безопасно, с безупречным качеством и бесплатной программой для просмотра и анализа.</li>
                <li>Мы поможем вам быстрее разобраться в новом методе диагностики и эффективно использовать его преимущества для успешного лечения ваших пациентов, повышения вашего авторитета как врача и статуса клиники в целом.</li>
                <li>Традиционные 2D методы диагностики: ортопантомограмма (панорама) и интраоральные снимки доведены нами до совершенства и доступны в наших центрах.</li>
                </ul> 
              </div>
            </div>
          </div>
        <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>


                    
<div id="rt-popuplogin">
  <div class="rt-block">
    <div class="module-content">
      <div class="module-inner">
        <form action="http://3-d.com.ua/index.php" method="post" id="login-form" >
          <fieldset class="userdata">
            <p id="form-login-username">
              <input id="modlgn-username" type="text" name="username" class="inputbox" alt="username" size="18" value="Логин" onfocus="if (this.value=='Логин') this.value=''" onblur="if(this.value=='') { this.value='Username'; return false; }" /> 
            </p>
            <p id="form-login-password">
              <input id="modlgn-passwd" type="password" name="password" class="inputbox" size="18" alt="password" value="Пароль" onfocus="if (this.value=='Пароль') this.value=''" onblur="if(this.value=='') { this.value='Password'; return false; }" />
            </p>
              <p id="form-login-remember">
              <label for="modlgn-remember">Запомнить меня</label>
              <input id="modlgn-remember" type="checkbox" name="remember" class="inputbox" value="yes"/>
            </p>
            <input type="submit" name="Submit" class="button" value="Войти" />
            <input type="hidden" name="option" value="com_users" />
            <input type="hidden" name="task" value="user.login" />
            <input type="hidden" name="return" value="aHR0cDovLzMtZC5jb20udWEv" />
            <input type="hidden" name="1dc75a3f25fd13210c0d033d4c08f15b" value="1" /> </fieldset>
            <ul>
              <li>
                <a href="index.php/component/users/index798d.html?view=reset">
                Забыли пароль?</a>
              </li>
              <li>
                <a href="index.php/component/users/index4488.html?view=remind">
                Забыли логин?</a>
              </li>
              <li>
                <a href="index.php/component/users/index4437.html?view=registration">
                  Регистрация</a>
              </li>
           </ul>
        </form>
      </div>
    </div>
  </div>  
</div>

{@footer.html}