{@head.html}

<body  class="presets-preset1 main-body-light main-bg-red font-family-ximenia font-size-is-default logo-type-custom menu-type-fusionmenu layout-mode-responsive typography-style-light col12 option-com-content menu-home ">

{@navigation.html}

  <script class="data-row-template" type="text/template">
    <tr data-rowid="{{rowid}}" >
      <td class="optimal-width">{{fio}}</td>
      <td class="optimal-width">{{inspection}}</td>
      <td class="optimal-width">{{created_at}}</td>
      <td class="optimal-width centered"><a href="{{url}}" target="_blank" ><img src="images/download.png" alt="Скачать" /></a></td>
    </tr>
  </script>

  <script>
    var menuItem = 'item138';
  </script>


<div id="rt-transition" class="rt-hidden">
                                                      
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12">
        <div class="rt-block component-block">
          <div class="component-content">

            <table class="simple-little-table" cellspacing='0'>
            <thead>
            <tr>
            <th><strong>ФИО</strong></th>
            <th><strong>Примечание</strong></th>
            <th><strong>Дата</strong></th>
            <th><strong>Скачать</strong></th>
            </tr>
            </thead>

            <tbody class="data-table">
            </tbody>

            </table>

          </div>
          <div class="clear"></div>
        </div>
      </div>
    <div class="clear"></div>
  </div>
</div>
                      
</div>

{@footer.html}