{@head.html}

<body  class="presets-preset1 main-body-light main-bg-red font-family-ximenia font-size-is-default logo-type-custom menu-type-fusionmenu layout-mode-responsive typography-style-light col12 option-com-content menu-home ">

{@navigation.html}

  <script>
    var menuItem = 'item117';
    var subMenuItem = 'item120';
  </script>


                            <div id="rt-transition" class="rt-hidden">

                              <div id="rt-main" class="mb12">
                               <div class="rt-container">
                                <div class="rt-grid-12">
                                 <div class="rt-block component-block">
                                  <div class="component-content">
                                   <div class="item-page" itemscope itemtype="https://schema.org/Article">
                                     <meta itemprop="inLanguage" content="ru-RU" />


                                     <div class="page-header">
                                       <h2 itemprop="name">
                                        Клинические случаи      </h2>
                                      </div>




                                      <div itemprop="articleBody">

                                        <h3 style="text-align: center;">Возможность видеть реакцию слизистой гайморовой пазухи на воспалительный процесс в периодонте и костной ткани</h3>
                                        <p><video width="640" height="480" style="display: block; margin-left: auto; margin-right: auto;" controls="controls">
                                          <source src="images/vracham/terapia_gaymorova.mp4" type="video/mp4" />
                                        </video></p>
                                        <h3 style="text-align: center;">Осложнение эндодонтического лечения повлекшее за собой травму нижнечелюстного канала и полную потерю чувствительности всей стороны нижней челюсти</h3>
                                        <p><video width="640" height="480" style="display: block; margin-left: auto; margin-right: auto;" controls="controls">
                                          <source src="images/vracham/terapia_oslojnenienijnechelustnoy.mp4" type="video/mp4" />
                                        </video></p>
                                        <h3 style="text-align: center;">Диагностика пародонтита</h3>
                                        <p><video width="640" height="480" style="display: block; margin-left: auto; margin-right: auto;" controls="controls">
                                          <source src="images/vracham/terapia_diagnostikaparadontita.mp4" type="video/mp4" />
                                        </video></p>  </div>


                                      </div>

                                    </div>
                                    <div class="clear"></div>
                                  </div>
                                </div>
                                <div class="clear"></div>
                              </div>
                            </div>
                          </div>

{@footer.html}