{@head.html}

<body  class="presets-preset1 main-body-light main-bg-red font-family-ximenia font-size-is-default logo-type-custom menu-type-fusionmenu layout-mode-responsive typography-style-light col12 option-com-content menu-home ">

{@navigation.html}

  <script>
    var menuItem = 'item139';
    var subMenuItem = 'item146';
  </script>


<div id="rt-transition" class="rt-hidden">
                                                      
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12">
        <div class="rt-block component-block">
          <div class="component-content">
            <div class="item-page" itemscope itemtype="https://schema.org/Article"><meta itemprop="inLanguage" content="ru-RU" />
              <div class="page-header"><h2 itemprop="name">ЛОРам</h2></div>
                <div itemprop="articleBody">
    
    <p><img class="pull-right" src="images/vracham/lor.jpg" alt="" /></p>
<ul>
<li>Диагностика патологий костных структур и слизистой оболочки придаточных пазух носа (верхнечелюстных, лобных, клиновидных синусов, решетчатой кости);</li>
<li>Дифференциальная диагностика заболеваний одонтогенной этиологии;</li>
<li>Диагностика возможности и необходимости проведения хирургических манипуляций на ЛОР-органах, как плановых, так и неотложных.</li>
</ul>
              </div>

            
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    <div class="clear"></div>
  </div>
</div>
                      
</div>

{@footer.html}