    <div id="rt-headerblock">

      <div id="rt-drawer">
        <div class="rt-container">
          <div class="clear"></div>
        </div>
      </div>

      
      <div id="rt-navigation">
        <div class="rt-container">
            
          <div class="rt-grid-2 rt-alpha">
            <div class="rt-block">
              <a href="home" id="rt-logo"></a>
            </div>
          </div>

          <div class="rt-grid-10 rt-omega">
            <div class="rt-block menu-block">
              <div class="rt-menubar fusionmenu">
                <ul class="menutop level1 " >
                  <li class="item101 root"><a class="orphan item bullet" href="home"><span>Home</span></a></li>
                  <li class="item135 parent root"><a class="daddy item bullet icon" href="patsientam">
                    <span><i class="icon-user"></i> Пациентам<span class="daddyicon"></span></span></a>
                      <div class="fusion-submenu-wrapper level2 " style="width:200px;">
                        <ul class="level2" style="width:200px;">
                          <li class="item136" ><a class="orphan item bullet icon" href="bystro-i-bezopasno">  <span><i class="icon-umbrella"></i> Быстро и безопасно</span></a></li>
                          <li class="item137"><a class="orphan item bullet icon" href="chto-zhe-takoe-3d-kt">
                            <span><i class="icon-question-sign"></i> Что же такое 3D КТ?</span></a></li>
                        </ul>
                        <div class="drop-bot"></div>
                      </div>
                  </li>
                  <li class="item139 parent root"><span class="daddy item bullet icon nolink">
                    <span>Врачам<span class="daddyicon"></span></span></span>
                      <div class="fusion-submenu-wrapper level2 " style="width:250px;">
                        <ul class="level2" style="width:250px;">
                          <li class="item140" ><a class="orphan item bullet" href="terapevtam"  >
                            <span>Терапевтам</span></a>
                          </li>
                          <li class="item141" ><a class="orphan item bullet" href="khirurgam-implantologam"  >
                            <span>Хирургам-имплантологам</span></a>
                          </li>
                          <li class="item142" ><a class="orphan item bullet" href="chelyustno-litsevym-khirurgam"  >
                            <span>Челюстно-лицевым хирургам</span></a>
                          </li>
                          <li class="item143" ><a class="orphan item bullet" href="parodontologam"  >
                            <span>Пародонтологам</span></a>
                          </li>
                          <li class="item144" ><a class="orphan item bullet" href="ortopedam"  >
                            <span>Ортопедам</span></a>
                          </li>
                          <li class="item145" ><a class="orphan item bullet" href="ortodontam"  >
                            <span>Ортодонтам</span></a>
                          </li>
                          <li class="item146" ><a class="orphan item bullet" href="loram"  >
                            <span>ЛОРам</span></a>
                          </li>
                        </ul>
                        <div class="drop-bot"></div>
                    </div>
                  </li>
                  <li class="item124 parent root" ><a class="daddy item bullet icon" href="chto-zhe-skryto-ot-glaz-stomatologa"  >
                    <span><i class="icon-archive"></i> Статьи<span class="daddyicon"></span></span></a>
                      <div class="fusion-submenu-wrapper level2 " style="width:300px;">
                        <ul class="level2" style="width:300px;">
                          <li class="item125" ><a class="orphan item bullet icon" href="chto-zhe-skryto-ot-glaz-stomatologa"  >
                            <span><i class="icon-key"></i> Что же скрыто от глаз стоматолога?</span></a>
                          </li>
                        </ul>
                        <div class="drop-bot"></div>
                      </div>
                    </li>
                    <li class="item117 parent root" ><a class="daddy item bullet icon" href="obuchenie"  >
                      <span><i class="icon-question-sign"></i> Обучение<span class="daddyicon"></span></span></a>
                        <div class="fusion-submenu-wrapper level2 " style="width:190px;">
                          <ul class="level2" style="width:190px;">
                            <li class="item114" ><a class="orphan item image subtext" href="instruktsiya"  >
                              <span><img src="images/ez2009.jpg" alt="ez2009.jpg" /> Инструкция кратко<em>к программе Еz3D2009</em></span></a>
                            </li>
                            <li class="item118" ><a class="orphan item image subtext" href="images/instrukcia/Ez3D2009_ru.pdf" target="_blank">
                              <span><img src="images/ez2009.jpg" alt="ez2009.jpg" /> Полная инструкция<em>к Еz3D2009 (PDF)</em></span></a>
                            </li>
                            <li class="item119" ><a class="orphan item image subtext" href="video-kurs"  >
                              <span><img src="images/ez2009.jpg" alt="ez2009.jpg" /> Видео курс<em>к программе Еz3D2009</em></span></a>
                            </li>
                            <li class="item120" ><a class="orphan item bullet icon" href="klinicheskie-sluchai"  >
                              <span><i class="icon-stethoscope"></i> Клинические случаи</span></a>
                            </li>
                          </ul>
                          <div class="drop-bot"></div>
                        </div>
                      </li>
                      <li class="item138 parent root grouped-parent" ><a class="daddy item bullet icon main-nav vkhod-v-kabinet" href="javascript:;"  >
                        <!-- <span><i class="icon-suitcase"></i> Вход в кабинет<span class="daddyicon"></span></span></a> -->
                        <span><i class="icon-suitcase"></i> Кабинет<span class="daddyicon"></span></span></a>
                          <div class="fusion-submenu-wrapper level2 " style="width:180px;">
                            <ul class="level2" style="width:180px;">
                              <li class="item123" ><a class="orphan item bullet icon" href="ftp://92.244.100.90/"  >
                                <span><i class="icon-cloud-download"></i> Вход на FTP Киев</span></a>
                              </li>
                              <li class="divider item124" >
                              </li>
                              <li class="item125" ><a class="orphan item bullet icon" href="javascript:;"  >
                                <span><i class="icon-power-off"></i> Выход из кабинета</span></a>
                              </li>
                            </ul>
                           <div class="drop-bot"></div>
                          </div>
                        </li>
                        <li class="item110 root" ><a class="orphan item bullet icon" href="kontakty"  >
                          <span><i class="icon-map-marker"></i> Адреса 3D центров</span></a>
                        </li>
                      </ul>
                    </div>
                    <div class="clear"></div>
                 </div>

                 <!-- mobile menu -->
                 
                 <div class="rt-menu-mobile">
                  <select data-rt-menu-mobile>
                    <option value="/" selected="selected"> Home</option>
                    <option value="/patsientam"> Пациентам</option>
                    <option value="/patsientam/bystro-i-bezopasno">&mdash; Быстро и безопасно</option>
                    <option value="/patsientam/chto-zhe-takoe-3d-kt">&mdash; Что же такое 3D КТ?</option>
                    <option value="/stati"> Статьи</option>
                    <option value="/stati/chto-zhe-skryto-ot-glaz-stomatologa">&mdash; Что же скрыто от глаз стоматолога?</option>
                    <option value="/obuchenie"> Обучение</option>
                    <option value="/obuchenie/instruktsiya">&mdash; Инструкция кратко</option>
                    <option value="images/instrukcia/Ez3D2009_ru.pdf">&mdash; Полная инструкция</option>
                    <option value="/obuchenie/video-kurs">&mdash; Видео курс</option>
                    <option value="/obuchenie/klinicheskie-sluchai">&mdash; Клинические случаи</option>
                    <option value="/vkhod-v-kabinet"> Вход в кабинет</option>
                    <option value="ftp://92.244.100.90/">&mdash; Вход на FTP Киев</option>
                    <option value="/kontakty"> Адреса 3D центров</option>
                  </select>
                </div>
            </div>


          <div class="clear"></div>
        </div>
      </div>
    </div>
