    <!-- Navigation -->
    <nav class="navbar navbar-antiinverse navbar-fixed-top " role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button style="color: #337ab7;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="rt-block">
                    <a id="rt-logo" class="navbar-brand" href="index"></a>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="patsientam" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Пациентам <b class="caret"></b></a>
                        <ul class="dropdown-menu" data-dropdown-in="fadeInUp" data-dropdown-out="fadeOutDown">
                            <li>
                                <a href="bystro-i-bezopasno"><span class="glyphicon glyphicon-plane"></span> Быстро и безопасно</a>
                            </li>
                            <li>
                                <a href="chto-zhe-takoe-3d-kt"><span class="glyphicon glyphicon-question-sign"></span> Что же такое 3D КТ?</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-info-sign"></span> Врачам <b class="caret"></b></a>
                        <ul class="dropdown-menu" data-dropdown-in="fadeInUp" data-dropdown-out="fadeOutDown">
                            <li>
                                <a href="terapevtam">Терапевтам</a>
                            </li>
                            <li>
                                <a href="khirurgam-implantologam">Хирургам-имплантологам</a>
                            </li>
                            <li>
                                <a href="chelyustno-litsevym-khirurgam">Челюстно-лицевым хирургам</a>
                            </li>
                            <li>
                                <a href="parodontologam">Пародонтологам</a>
                            </li>
                            <li>
                                <a href="ortopedam">Ортопедам</a>
                            </li>
                            <li>
                                <a href="ortodontam">Ортодонтам</a>
                            </li>
                            <li>
                                <a href="loram">ЛОРам</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-folder-close"></span> Статьи <b class="caret"></b></a>
                        <ul class="dropdown-menu" data-dropdown-in="fadeInUp" data-dropdown-out="fadeOutDown">
                            <li>
                                <a href="chto-zhe-skryto-ot-glaz-stomatologa">Что же скрыто от глаз стоматолога?</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-question-sign"></span> Обучение <b class="caret"></b></a>
                        <ul class="dropdown-menu" data-dropdown-in="fadeInUp" data-dropdown-out="fadeOutDown">
                            <li>
                                <a href="instruktsiya"><img src="images/ez2009.jpg" alt="ez2009.jpg" /> Инструкция кратко
                                <small>к программе Еz3D2009</small></a>
                            </li>
                            <li>
                                <a href="images/instrukcia/Ez3D2009_ru.pdf"><img src="images/ez2009.jpg" alt="ez2009.jpg" /> Полная инструкция <small>к Еz3D2009 (PDF)</small></a>
                            </li>
                            <li>
                                <a href="video-kurs"><img src="images/ez2009.jpg" alt="ez2009.jpg" /> Видео курс <small>к программе Еz3D2009</small></a>
                            </li>
                            <li>
                                <a href="klinicheskie-sluchai"><span class="glyphicon glyphicon-list-alt"></span> Клинические случаи</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-lock"></span> [[^login.id]]Вход [[/login.id]][[#login.id]]Кабинет[[/login.id]] <b class="caret"></b></a>
                        <ul class="dropdown-menu" data-dropdown-in="fadeInUp" data-dropdown-out="fadeOutDown">
                          [[#login.id]]
                            [[^login.isPower]]
                            <li>
                                <a href="kabinet"> Таблица КТ</a>
                            </li>
                            [[/login.isPower]]
                            [[#login.isPower]]
                            <li>
                                <a href="users"> Таблица Пользователей</a>
                            </li>
                              [[#login.isSuperAdmin]]
                            <li>
                                <a href="city"> Таблица городов</a>
                            </li>
                            <li>
                                <a href="admkontakty"> Контакты</a>
                            </li>
                            <li>
                                <a href="content"> Контент сайта</a>
                            </li>
                              [[/login.isSuperAdmin]]
                            [[/login.isPower]]
                            <li>
                                <a href="profile"> Профиль пользователя</a>
                            </li>
                            <li>
                                <a href="logout"> Выход из кабинета</a>
                            </li>
                          [[/login.id]]
                          [[^login.id]]
                            <li>
                                <a href="sign-up"> Вход в кабинет</a>
                            </li>
                          [[/login.id]]
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="ftp://92.244.100.90/"> Вход на FTP Киев</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="zapis"><span class="glyphicon glyphicon-th-list"></span> Запись на прием </a>
                    </li>
                    <li>
                        <a href="kontakty"><span class="glyphicon glyphicon-map-marker"></span> Адреса 3D центров </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
