{@head.html}

<body  class="presets-preset1 main-body-light main-bg-red font-family-ximenia font-size-is-default logo-type-custom menu-type-fusionmenu layout-mode-responsive typography-style-light col12 option-com-content menu-home ">

{@navigation.html}

  <script>
    var menuItem = 'item117';
  </script>


        <div id="rt-transition" class="rt-hidden">
          
          <div id="rt-main" class="mb12">
           <div class="rt-container">
            <div class="rt-grid-12">
             <div class="rt-block component-block">
              <div class="component-content">
               <div class="blog" itemscope itemtype="https://schema.org/Blog">
                 <div class="items-row cols-1 row-0 row-fluid clearfix">
                  <div class="span12">
                    <div class="item column-1" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
                    <div class="page-header">
                     <h2 itemprop="name">
                       <a href="instruktsiya" itemprop="url">
                        Инструкция к программе Ez3d2009</a>
                      </h2>
                    </div>
                    
                    <p><a href="instruktsiya"><img class="pull-left" style="margin-right: 10px; margin-left: 10px;" src="images/Ministatia/istrukciaMini.jpg" alt="" width="450" height="273" /></a>Мы специально подготовили для Вас данную сокращенную инструкцию содержащую описание самых популярных и востребованных среди врачей функций. Если Вы хотите быстро освоить программу Еz3D2009, то данная инструкция для Вас!</p>
                    
                    <p class="readmore">
                     <a class="btn" href="instruktsiya" itemprop="url">
                      <span class="icon-chevron-right"></span>
                      Подробнее...  </a>
                    </p>

                  </div>
                  <!-- end item -->
                </div><!-- end span -->
              </div><!-- end row -->
              <div class="items-row cols-1 row-1 row-fluid clearfix">
                <div class="span12">
                  <div class="item column-1"
                  itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">

                  <div class="page-header">

                   <h2 itemprop="name">
                     <a href="video-kurs" itemprop="url">
                      Видео курс для работы в программе Еz3D2009</a>
                    </h2>
                    
                  </div>
                  
                  <p><a href="video-kurs"><img class="pull-left" style="margin-right: 10px; margin-left: 10px;" src="images/Ministatia/ez2009videoMini.jpg" alt="" width="450" height="273" /></a></p>
                  <p>Базовый видео курс по программе Ez3d2009 позволит Вам наглядно ознакомиться с возможностями программы и научиться применять их в своей практике. Надеемся, что подготовленный нами курс окажет Вам в этом помощь.</p>
                  
                  <p class="readmore">
                   <a class="btn" href="video-kurs" itemprop="url">
                    <span class="icon-chevron-right"></span>
                    Подробнее...  </a>
                  </p>

                </div>
                <!-- end item -->
              </div><!-- end span -->
            </div><!-- end row -->
            <div class="items-row cols-1 row-2 row-fluid clearfix">
              <div class="span12">
                <div class="item column-1"
                itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
                

                <div class="page-header">

                 <h2 itemprop="name">
                   <a href="klinicheskie-sluchai" itemprop="url">
                    Клинические случаи</a>
                  </h2>
                  
                </div>

                <p><a href="klinicheskie-sluchai"><img class="pull-left" style="margin-right: 10px; margin-left: 10px;" src="images/Ministatia/clinicMini.jpg" alt="" width="450" height="273" /></a></p>
                <p>Клинические случаи, рассмотренные здесь, наглядно продемонстрируют Вам, возможности применения функционала программы Еz3D2009 в своей практике.</p>
                
                <p class="readmore">
                 <a class="btn" href="klinicheskie-sluchai" itemprop="url">
                  <span class="icon-chevron-right"></span>
                  Подробнее...  </a>
                </p>

              </div>
              <!-- end item -->
            </div><!-- end span -->
          </div><!-- end row -->
          <div class="items-row cols-1 row-3 row-fluid clearfix">
            <div class="span12">
              <div class="item column-1" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
              <div class="page-header">
               <h2 itemprop="name">
                 <a href="images/instrukcia/Ez3D2009_ru.pdf" target="_blank" itemprop="url">
                  Полная инструкция для работы в программе Еz3D2009</a>
                </h2>
                
              </div>
              

              
              <p><a href="images/instrukcia/Ez3D2009_ru.pdf" target="_blank"><img class="pull-left" style="margin-right: 10px; margin-left: 10px;" src="images/Ministatia/Ez3D2009_mini.jpg" alt="" width="450" height="273" /></a></p>
              <p>Вы можете скачать файл либо просмотреть в браузере в открывшейся странице после <a href="images/instrukcia/Ez3D2009_ru.pdf" rel="next">нажатия</a> .</p>



            </div>
            <!-- end item -->
          </div><!-- end span -->
        </div><!-- end row -->
        
        
      </div>

    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
</div>
</div>
</div>
                    

{@footer.html}