{@head.html}

<body  class="presets-preset1 main-body-light main-bg-red font-family-ximenia font-size-is-default logo-type-custom menu-type-fusionmenu layout-mode-responsive typography-style-light col12 option-com-content menu-home ">

{@navigation.html}

  <script>
    var menuItem = 'item139';
    var subMenuItem = 'item145';
  </script>


<div id="rt-transition" class="rt-hidden">
                                                      
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12">
        <div class="rt-block component-block">
          <div class="component-content">
            <div class="item-page" itemscope itemtype="https://schema.org/Article"><meta itemprop="inLanguage" content="ru-RU" />
              <div class="page-header"><h2 itemprop="name">Ортодонтам</h2></div>
                <div itemprop="articleBody">
    
    <p><img class="pull-right" src="images/vracham/orthodont.jpg" alt="" /></p>
<ul>
<li>Позволяет делать выбор при необходимости удаления интактных зубов для ортодонтического лечения.</li>
<li>Измерять плотности костной ткани для планирования сроков и результатов лечения.</li>
<li>Выявлять истинную форму и пространственную ориентацию корней ретенированных,  дистопированных зубов.</li>
<li>Определять безопасные зоны для установки ортодонтических микроимплантатов.</li>
<li>Изготавливать стериолитографические модели для демонстрации и планирования лечения.</li>
<li>Наглядная визуализация и анализ планируемого ортодонтического лечения при консультациях пациента.</li>
<li>Выявление аномалий развития и положения зубов и челюстей, височно-нижнечелюстного сустава.</li>
<li>Оценка связи зубов между периодонтальными связками и случаи резорбции.</li>
</ul>
              </div>

            
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    <div class="clear"></div>
  </div>
</div>
                      
</div>

{@footer.html}