{@head.html}

{@navigation.html}


    <div class="container" style="padding-top:50px;">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ортопедам
                </h1>
            </div>
        </div>

        <!-- Features Section -->
        <div class="row">
            <div class="col-md-12">

    
    <p><img class="pull-right" src="images/vracham/orthoped.jpg" alt="" /></p>
<ul>
<li>Оценка качества зуба как опоры, наличие хронических процессов, резорбция костной ткани вокруг опорного зуба.</li>
<li>Возможность увидеть качество припасовки пришеечной коронковой части к сформированному уступу.</li>
<li>Выявление причины локального парадонтита или гингивита на месте установленной ортопедической конструкции.</li>
</ul>
            </div>
          </div>
        </div>

{@footer.html}