<div class="row-fluid pager-control" style="display:none;">
  <div class="span12 col-md-12">
    <div class="pager-pager-container pull-left">
      <small>
        <span class="pager-stat"></span>
        <span class="selection-stat label label-default" style="display:none;"></span>
        <a class="action-clear-selection" style="display:none;">Очистить выбор</a>
        <span class="pager-nav-element">|</span>
        <span class="pager-nav-element">Перейти к</span>
        <a class="pager-action-prior pager-nav-element">предыдущей</a>
        <span class="pager-page-navigation"></span>
        <a class="pager-action-next pager-nav-element">следующей</a>
        <span class="pager-nav-element">странице</span>
      </small>
    </div>
    <div class="pager-page-size-container pull-right">
      <small>
        <span class="pager-page-size-navigation"></span>
        записей на странице
      </small>
    </div>
  </div>
</div>
