{@head.html}

{@navigation.html}


    <div class="container" style="padding-top:50px;">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Пародонтологам
                </h1>
            </div>
        </div>

        <!-- Features Section -->
        <div class="row">
            <div class="col-md-12">

    
<p><img class="pull-right" src="images/vracham/paro.jpg" alt="" /></p>
<ul>
<li>Выявление истинных пограничных контуров кости.</li>
<li>Объемные 3D снимки пародонтальных карманов и зон разделения корней в кости.</li>
</ul>

            
            </div>
          </div>
        </div>

{@footer.html}