<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

</head>


<body>

<p> </p>
<table border="1" align="center">
<tbody>
<tr>
<td><strong>Пациент</strong></td>
<td><strong>Дата исслед-я</strong></td>
<td><strong>Скачать</strong></td>
</tr>
<tr>
<td><strong>Ez3D_2009_ver1241.zip</strong></td>
<td> </td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshldjd4NjFrNXZLYm8/view?usp=sharing" rel="alternate"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> Задорожная Оксана Валерьевна</td>
<td> кт 2х</td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshlNFJTb2NtUTNKUlU/view?usp=sharing" rel="alternate"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> Алексеев Владислав Дмитриевич </td>
<td> кт сегмента</td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshlNm1na05yWFZNTkE/view?usp=sharing" rel="alternate"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshlSWJLNjU3b2UzU3c/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshlUXJoREFOQlRXOUE/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshlTWhXc3FrTE5FR2M/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshlNFVKSTBlVlhKSlk/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a> </td>
</tr>
<tr>
<td> </td>
<td> </td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshlenpkajdCUVJERGs/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshlYkdnQkg5Q0dtbG8/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshlOF9vMzdma0V3cXc/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> <a href="https://drive.google.com/file/d/0B4CBWk0xlshlN2pmbjhSaXlFT0U/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> <a href="https://drive.google.com/file/d/0B4CBWk0xlshlajlpdFdWZ0RIc2s/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> <a href="https://drive.google.com/file/d/0B4CBWk0xlshlaHVUb2d1SUplM2s/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> <a href="https://drive.google.com/file/d/0B4CBWk0xlshlM282cHE4aG9MZUE/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> <a href="https://drive.google.com/file/d/0B4CBWk0xlshlWkdEdnY1TkZtX3c/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshlbkpsQlFVREV2azQ/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a></td>
</tr>
<tr>
<td> </td>
<td> </td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshld01wMG0tRlFUSlk/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a> </td>
</tr>
<tr>
<td> </td>
<td> </td>
<td><a href="https://drive.google.com/file/d/0B4CBWk0xlshlRDNHMV9OVXh2ZkE/view?usp=sharing"><img src="components/com_comprofiler/plugin/templates/luna/images/mini-icons/icon-16-filesave.png" alt="" width="16" height="16" border="0" /></a> </td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td style="text-align: center;" colspan="3"><strong>Если объект не использовался более 30 дней, он может быть удален системой.</strong><br /><strong>Для того чтобы исследование пациентов было загружено на сайт необходимо отметить данный пункт в направлении.</strong></td>
</tr>
</tbody>
</table>
<p> </p>
</body>
</html>