{@head.html}

{@navigation.html}


    <div class="container" style="padding-top:50px;">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Терапевтам
                </h1>
            </div>
        </div>

        <!-- Features Section -->
        <div class="row">
            <div class="col-md-12">


    
    <p><img class="pull-right" src="images/vracham/terapevt2.jpg" alt="" /></p>
      <ul>
      <li>Диагностика скрытых кариозных полостей, их локализация и глубина поражения.</li>
      <li>Диагностика и планирование эндодонтического лечения:
      <ul>
      <li>- анализ топографии и анатомии системы корневых каналов;</li>
      <li>- оценка состояния тканей корней зубов;</li>
      <li>- возможность выявлять трещины или скрытую периапикальную инфекцию;</li>
      <li>- хронические болевые ощущения неясной этиологии; - контроль обтурации корневых каналов;</li>
      <li>- динамическое наблюдение состояния периапикальных тканей после проведенного эндодонтического лечения, в том числе повторного;</li>
      <li>- прогнозирование с высокой точностью результатов эндодонтического лечения.</li>
      </ul>
      </li>
      </ul> 

            
            </div>
          </div>
        </div>

{@footer.html}