{@head.html}

<body  class="presets-preset1 main-body-light main-bg-red font-family-ximenia font-size-is-default logo-type-custom menu-type-fusionmenu layout-mode-responsive typography-style-light col12 option-com-content menu-home ">

{@navigation.html}

  <script>
    var menuItem = 'item139';
    var subMenuItem = 'item140';
  </script>


<div id="rt-transition" class="rt-hidden">
                                                      
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12">
        <div class="rt-block component-block">
          <div class="component-content">
            <div class="item-page" itemscope itemtype="https://schema.org/Article"><meta itemprop="inLanguage" content="ru-RU" />
              <div class="page-header"><h2 itemprop="name">Терапевтам  </h2></div>
                <div itemprop="articleBody">
    
    <p><img class="pull-right" src="images/vracham/terapevt2.jpg" alt="" /></p>
      <ul>
      <li>Диагностика скрытых кариозных полостей, их локализация и глубина поражения.</li>
      <li>Диагностика и планирование эндодонтического лечения:
      <ul>
      <li>- анализ топографии и анатомии системы корневых каналов;</li>
      <li>- оценка состояния тканей корней зубов;</li>
      <li>- возможность выявлять трещины или скрытую периапикальную инфекцию;</li>
      <li>- хронические болевые ощущения неясной этиологии; - контроль обтурации корневых каналов;</li>
      <li>- динамическое наблюдение состояния периапикальных тканей после проведенного эндодонтического лечения, в том числе повторного;</li>
      <li>- прогнозирование с высокой точностью результатов эндодонтического лечения.</li>
      </ul>
      </li>
      </ul> 
              </div>

            
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    <div class="clear"></div>
  </div>
</div>
                      
</div>

{@footer.html}