{@head.html}

<body  class="presets-preset1 main-body-light main-bg-red font-family-ximenia font-size-is-default logo-type-custom menu-type-fusionmenu layout-mode-responsive typography-style-light col12 option-com-content menu-home ">

{@navigation.html}

  <script>
    var menuItem = 'item117';
    var subMenuItem = 'item119';
  </script>


                            <div id="rt-transition" class="rt-hidden">

                              <div id="rt-main" class="mb12">
                               <div class="rt-container">
                                <div class="rt-grid-12">
                                 <div class="rt-block component-block">
                                  <div class="component-content">
                                   <div class="item-page" itemscope itemtype="https://schema.org/Article">
                                     <meta itemprop="inLanguage" content="ru-RU" />


                                     <div class="page-header">
                                       <h2 itemprop="name">
                                        Видео курс для работы в программе Еz3D2009      </h2>
                                      </div>




                                      <div itemprop="articleBody">

                                        <p> </p>
                                        <h3 style="text-align: center;">Базовый курс по программе Ez3d2009 из 5-ти частей</h3>
                                        <p><video width="678" height="480" style="display: block; margin-left: auto; margin-right: auto;" controls="controls">
                                          <source src="images/instrukcia/Ez3d2009_1.mp4" type="video/mp4" />
                                        </video></p>
                                        <p><video width="678" height="480" style="display: block; margin-left: auto; margin-right: auto;" controls="controls">
                                          <source src="images/instrukcia/Ez3d2009_2.mp4" type="video/mp4" />
                                        </video></p>
                                        <p><video width="678" height="480" style="display: block; margin-left: auto; margin-right: auto;" controls="controls">
                                          <source src="images/instrukcia/Ez3d2009_3.mp4" type="video/mp4" />
                                        </video></p>
                                        <p><video width="678" height="480" style="display: block; margin-left: auto; margin-right: auto;" controls="controls">
                                          <source src="images/instrukcia/Ez3d2009_4.mp4" type="video/mp4" />
                                        </video></p>
                                        <p><video width="678" height="480" style="display: block; margin-left: auto; margin-right: auto;" controls="controls">
                                          <source src="images/instrukcia/Ez3d2009_5.mp4" type="video/mp4" />
                                        </video></p>  </div>


                                      </div>

                                    </div>
                                    <div class="clear"></div>
                                  </div>
                                </div>
                                <div class="clear"></div>
                              </div>
                            </div>
                          </div>

{@footer.html}