{@head.html}

<body  class="presets-preset1 main-body-light main-bg-red font-family-ximenia font-size-is-default logo-type-custom menu-type-fusionmenu layout-mode-responsive typography-style-light col12 option-com-content menu-home ">

{@navigation.html}

  <script>
    var menuItem = 'item138';
  </script>


<div id="rt-transition" class="rt-hidden">
                                                      
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12">
        <div class="rt-block component-block">
          <div class="component-content">

<input class="full-width" value="Login" type="submit">
<br/>
<table class="simple-little-table" cellspacing='0'>
<tr>
<th><strong>ФИО</strong></th>
<th><strong>Примечание</strong></th>
<th><strong>Дата</strong></th>
<th><strong>Скачать</strong></th>
</tr>

<tr>
<td>Ленинград</td>
<td>ВТБ Арена Легенд</td>
<td>03 декабря 2016 г, 19:30</td>
<td><a href="javascript:;"  ><img src="images/download.png" alt="Скачать" /></a></td>
</tr>

<tr>
<td>Ленинград</td>
<td>ВТБ Арена Легенд</td>
<td>03 декабря 2016 г, 19:30</td>
<td><a href="javascript:;"  ><img src="images/download.png" alt="Скачать" /></a></td>
</tr>

<tr>
<td>Ленинград</td>
<td>ВТБ Арена Легенд</td>
<td>03 декабря 2016 г, 19:30</td>
<td><a href="javascript:;"  ><img src="images/download.png" alt="Скачать" /></a></td>
</tr>




</table>

          </div>
          <div class="clear"></div>
        </div>
      </div>
    <div class="clear"></div>
  </div>
</div>
                      
</div>

{@footer.html}