  <!--[if lt IE 8]>
    <script src="{br}3rdparty/json2/json2.js"></script>
  <![endif]-->

  <script src="{br}3rdparty/jquery/jquery-1.7.1.min.js"></script>
  <script src="{br}3rdparty/jquery-ui/js/jquery-ui.js"></script>
  <script src="{br}3rdparty/bootstrap3/js/bootstrap.min.js"></script>
  <script src="{br}3rdparty/handlebars/handlebars.min.js"></script>
  <script src="{br}3rdparty/gritter/js/jquery.gritter.min.js"></script>
  <script src="{br}js/bright.min.js"></script>
  <script src="{br}js/br.user.js"></script>
  <script src="{br}js/br.dataBrowser.js"></script>
  <script src="{br}js/br.dataEditor.js"></script>
  <script src="{/}js/app.js"></script>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
