<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>[[config.page-title]]</title>
  <meta name="description" content="[[config.page-description]]">
  <meta name="author" content="[[config.page-author]]">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link href="{br}3rdparty/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
  <link href="{br}3rdparty/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="{br}3rdparty/gritter/css/jquery.gritter.css" rel="stylesheet">
  <link href="{br}3rdparty/jquery-ui/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet">
  <link href="{br}css/bright-bootstrap3.css" rel="stylesheet">
  <link href="{/}css/styles.css" rel="stylesheet">
</head>
