{@head.html}

<body>

{@navigation.html}

<div class="container">
  <div class="container-box">
    <div class="modal" style="display:inline;position:relative;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Login</h3>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger login-error" style="display:none;"></div>
            <form class="form-horizontal" role="form" action="javascript:;" onsubmit="return false;">
              <div class="form-group">
                <label class="col-lg-2 control-label">Login</label>
                <div class="col-lg-10">
                  <input type="text" class="focus form-control login-field" name="login" placeholder="login" data-click-on-enter=".action-login">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                  <input type="password" class="form-control login-field" name="password" placeholder="password" data-click-on-enter=".action-login">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" class="login-field" value="1" name="remember"> Remember me
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button data-loading-text="sending info..." class="action-login btn btn-primary">Login</button>&nbsp;
            <a href="{/}" class="btn btn-default">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{@footer.html}
