<div class="row pager-row">
  <div class="col-md-8">
    <small class="pager-control" style="display:none;"><span class="pager-stat"></span></small> <small><span class="selection-stat label label-default" style="display:none;"></span> <a class="action-clear-selection" style="display:none;">Clear selection</a></small>
    <div class="pager-control pager-page-slider" style="display:none;"></div>
  </div>
  <div class="col-md-4">
    <small class="pager-control" style="display:none;"><span class="pager-page-size"></span></small>
    <div class="pager-control pager-page-size-slider" style="display:none;"></div>
  </div>
</div>

<br />
